* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h4 {
    text-align : center;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: blue;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 60%;
    background-color: #f4af1b;
}
.logo {
    padding: 12px 0px;
}
.navWrapper ul li{
    padding: 12px 0px;
    text-align: center;
    width: 27%;

}
.navWrapper ul li:hover{
    background-color: #be8916;
    transition: 0.5s all ease-in-out;
    
}

#booker {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

#booker button {
    font-size: 20px;
    padding: 5px 20px;
    background-color: blue;
    border-style: none;
    border-radius: 5px;
    color : white;
}

.movie {
    border: 1.5px solid rgb(16, 16, 26);
    border-radius: 15px;
}

.movie-img-wrapper {
    background-size: cover;
    width: 150px;
    height: 200px;
    margin: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.movie-holder {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.loader {
    text-align: center;
    margin: 1rem;
}



.d-none {
    display: none;
}

.v-none {
    visibility: hidden;
}

.booking-grid {
    display: grid;
    grid-template-rows: repeat(3, 70px);
    grid-template-columns: repeat(4, 70px);
    gap: 1rem;
    
}


#booker-grid-holder {
    margin: 2rem;
    display: flex;
    gap: 6rem;
}

.grid-cell {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unavailable-seat {
    background-color: red;
    cursor: not-allowed;
    pointer-events: none;
    border-radius: 15px;
    font-size: 30px;
    padding: 25% 0%;
    text-align: center;
}

.available-seat {
    background-color: green;
    cursor: pointer;
    border-radius: 15px;
    font-size: 30px;
    padding: 25% 0%;
    text-align: center;
}

.selected-seat {
    border: 4px outset rgb(0, 0, 0)
}