* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 1000px;
}

h4 {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: blue;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 60%;
    background-color: #f4af1b;
}

.logo {
    padding: 12px 0px;
    font-weight: 900;
}

.navWrapper ul li {
    padding: 12px 0px;
    text-align: center;
    width: 27%;
}

.navWrapper ul li a {
    color: white;
    font-weight: 600;
}

.navWrapper ul li:hover {
    background-color: #be8916;
    transition: 0.5s all ease-in-out;

}

#booker {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

#booker button {
    font-size: 20px;
    padding: 5px 20px;
    background-color: blue;
    border-style: none;
    border-radius: 5px;
    color: white;
}

.movie {
    border: 1.5px solid rgb(16, 16, 26);
    border-radius: 15px;
}

.movie-img-wrapper {
    background-size: cover;
    width: 150px;
    height: 200px;
    margin: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.movie-holder {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.loader {
    text-align: center;
    margin: 1rem;
}



.d-none {
    display: none;
}

.v-none {
    visibility: hidden;
}

.booking-grid {
    display: grid;
    grid-template-rows: repeat(3, 70px);
    grid-template-columns: repeat(4, 70px);
    gap: 1rem;

}


#booker-grid-holder {
    margin: 2rem;
    display: flex;
    gap: 6rem;
}

.grid-cell {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unavailable-seat {
    background-color: red;
    cursor: not-allowed;
    pointer-events: none;
    border-radius: 15px;
    font-size: 30px;
    padding: 25% 0%;
    text-align: center;
}

.available-seat {
    background-color: green;
    cursor: pointer;
    border-radius: 15px;
    font-size: 30px;
    padding: 25% 0%;
    text-align: center;
}

.selected-seat {
    border: 4px outset rgb(0, 0, 0)
}

.footer {
    background-color: blue;
    color: yellow;
    padding: 20px 30px;
}

.footer_social {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

.footer_social_logo {
    font-size: 24px;
    font-weight: 900;
}

.footer_social_icons {
    display: flex;
    list-style: none;
    align-items: center;
}

.footer_social_icons li {
    margin: 0px 10px;


}

.footer_social_icons li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid yellow;
    color: yellow;
    font-size: 14px;
    display: inline-block;
}

.footer_line {
    background-color: yellow;
    height: 1px;
    margin: 10px 0px;
}

.footer_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
}

.footer_info_copyRight {}

.footer_info_links {
    display: flex;
    color: yellow;
    list-style: none;
    align-items: center;
}

.footer_info_links li{margin: 0px 10px;}
.footer_info_links li a {
    display: inline-block;
}